.question-wrapper {
  padding-top: 1em;
  /* border: 1px solid red; */
}

.question-title {
  color: #2f527b;
  /* margin: 0; */
}
.question-flag {
  top: 10px;
  width: 85px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  /* margin-bottom: 1.5em; */
}

.answers-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  counter-reset: item;
  list-style: none;
  margin: 0;
  padding: 0;
}
