.question-title {
  color: #2f527b;
}
.question-flag {
  width: 85px;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  margin-bottom: 1.5em;
}
.answers-list {
  display: flex;
  flex-direction: column;
  counter-reset: item;
  list-style: none;
  margin: 0;
  padding: 0;
}
.answers-item {
  margin-bottom: 1.5em;
  color: #6066d0;
}

.answers-button {
  position: relative;
  width: 100%;
  font-size: 1.125rem;
  font-family: inherit;
  text-align: left;
  padding: 0.875em 4em;
  background: none;
  color: #6066d0;
  border: 2px solid #6066d0;
  border-radius: 12px;
  cursor: pointer;
}

.answers-button::before {
  counter-increment: item;
  content: counter(item, upper-latin);
  position: absolute;
  font-size: 1.25rem;
  top: 0.75em;
  left: 1em;
}

.answers-button:active {
  color: #ffffff;
  background: #f9a826;
  border: 2px solid transparent;
  border-radius: 12px;
}

.green {
  background: greenyellow;
}
